@media screen and (max-width: 768px ) {
    .content {
        grid-template-columns: 1fr 1fr;
        margin: 1em 0em;
    }
    .contact-content {
        grid-template-columns: 1fr 1fr;
    }
    #contact-form {
        grid-column: 1 / span 2;
    }
    .contact-banner {
        min-height: 30vh;
    }
    .banner-text {
        max-width: 80%;
        font-size: 1em;
    }
    .contact-map {
        grid-column: span 2;
    }
    .about-content {
        grid-template-columns: 1fr;
    }
    .profile-image {
        max-width: 8em;
        display: block;
        margin: auto;
    }
    .team-member h3, .team-member h4 {
        text-align: center;
    }
    .page-header {
        align-items: center;
    }
    .site-navigation {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
    }
    .site-navigation.open {
        max-height: 50vh;
    }
    .nav-button {
        display: block;
    }
    .logo {
        width: 60px;
    }
}
@media screen and (max-width: 480px ) {
    .logo {
        width: 60px;
    }
    .site-navigation {
        min-width: 100%;
    }
    .content {
        grid-template-columns: 1fr;
        margin: 1em 0em;
    }
}