@media screen and (max-width: 768px ) {
    .content {
        grid-template-columns: 1fr 1fr;
        margin: 1em 0.5em;
    }
}
@media screen and (max-width: 480px ) {
    .logo {
        width: 60px;
    }
    .site-navigation {
        min-width: 100%;
    }
    .content {
        grid-template-columns: 1fr;
        margin: 1em 0.5em;
    }
}